<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="display-4 mb-4">Benvenuto!</h1>
          <p class="lead">
            Questa è la tua nuova applicazione ng-Amazon con Angular.
          </p>
          <hr />
          <p>Inizia ad esplorare le funzionalità della tua app!</p>
          <button class="btn btn-primary mt-3" routerLink="/products">
            Scopri di più
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
