<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="display-4 mb-4">Benvenuto!</h1>
          <p class="lead">
            Scopri un mondo di prodotti unici e offerte imperdibili. Il nostro
            e-commerce è pensato per offrirti un'esperienza di acquisto
            semplice, veloce e sicura. Non perdere l'occasione di trovare tutto
            ciò che desideri a portata di clic!
          </p>
          <hr />
          <p>Inizia ad acquistare!</p>
          <button class="btn btn-primary mt-3" routerLink="/products">
            Scopri di più
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
